{% extends "base.html" %}

{% block title %}
Pugberus | {{ league.name }}
{% endblock %}

{% block topsubbar %}
<a href="{% url 'league:index' %}">Leagues</a> > {{ league.name }}
{% endblock %}

{% block content %}
<table class="center mb-8 mw-80">
    <caption>Summary</caption>
    <tr>
        <th>Player</th>
        <th>#</th>
        <th>Min</th>
        <th>Avg</th>
        <th>Max</th>
    </tr>
    {% for player in players %}
    <tr>
        <td><a href="{% url 'league:player' player.score__player__id %}">{{ player.score__player__handle }}</a></td>
        <td>{{ player.count }}</td>
        <td>{{ player.min_score }}</td>
        <td>{{ player.avg_score }}</td>
        <td>{{ player.max_score }}</td>
    </tr>
    {% endfor %}
</table>
<table class="center mb-8 mw-80">
    <caption>Games | <a href="{% url 'league:league' league.id %}">Table</a> • Chart</caption>
    <tr>
        <td>
            <div id="myplot"></div>
        </td>
    </tr>
</table>
<style>
    .plot {
        background: none;
    }
</style>
<script type="module">
    import * as Plot from "https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6/+esm";
    const data = [
    {% for game in games %}
    {% for score in game.score_set.all %}
    { Date: new Date("{{ game.game_date }}"), Player: "{{ score.player.handle }}", Score: {{ score.score }} },
    {% endfor %}
    {% endfor %}
    ]
    const plot = Plot.plot({
        className: 'plot',
        color: { legend: true },
        marks: [
            Plot.lineY(data, { x: "Date", y: "Score", stroke: "Player" }),
        ]
    });
    setTimeout(() => {
        const div = document.querySelector("#myplot");
        div.append(plot);
    }, 100);
</script>
{% endblock %}
