{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="icon" type="image/x-icon" href="{% static 'pugberus.png' %}">

<h1>{{ league.name }}</h1>
<h2>Summary</h2>
<table>
    <tr>
        <th>Player</th>
        <th>#</th>
        <th>Min</th>
        <th>Avg</th>
        <th>Max</th>
    </tr>
    {% for player in players %}
    <tr>
        <td><a href="{% url 'league:player' player.score__player__id %}">{{ player.score__player__handle }}</a></td>
        <td>{{ player.count }}</td>
        <td>{{ player.min_score }}</td>
        <td>{{ player.avg_score }}</td>
        <td>{{ player.max_score }}</td>
    </tr>
    {% endfor %}
</table>
<h2>Games</h2>
<table>
    <tr>
        <th>Game No</th>
        <th>Date</th>
        <th>Winner</th>
        <th>Score</th>
    </tr>
    {% for game in games %}
    <tr>
        <td><a href="{% url 'league:game' game.id %}">{{game.game_no}}</a></td>
        <td>{{game.game_date}}</td>
        <td>{{game.winner.player.handle}}</td>
        <td>{{game.winner.score}}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'league:index' %}">Back to main</a>
