{% extends "base.html" %}

{% block title %}
Pugberus | {{ league.name }}
{% endblock %}

{% block content %}
<table class="center mb-8 mw-80">
    <caption>{{ league.name }} - Summary</caption>
    <tr>
        <th width="60%">Player</th>
        <th width="10%">#</th>
        <th width="10%">Min</th>
        <th width="10%">Avg</th>
        <th width="10%">Max</th>
    </tr>
    {% for player in players %}
    <tr>
        <td><a href="{% url 'league:player' player.score__player__id %}">{{ player.score__player__handle }}</a></td>
        <td>{{ player.count }}</td>
        <td>{{ player.min_score }}</td>
        <td>{{ player.avg_score }}</td>
        <td>{{ player.max_score }}</td>
    </tr>
    {% endfor %}
</table>
<table class="center mb-8 mw-80">
    <caption>Games | Table • <a href="{% url 'league:chart' league.id %}">Chart</a></caption>
    <tr>
        <th width="60%"></th>
        <th width="30%">Winner</th>
        <th width="10%">Score</th>
    </tr>
    {% for game in games %}
    <tr>
        <td>{{game.game_date}} - #<a href="{% url 'league:game' game.id %}">{{game.game_no}}</a></td>
        <td>{{game.winner.player.handle}}</td>
        <td>{{game.winner.score}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
