{% extends "base.html" %}

{% block title %}
Pugberus | {{ league.name }}
{% endblock %}

{% block topsubbar %}
<a href="{% url 'league:index' %}">Leagues</a> > {{ league.name }}
{% endblock %}

{% block content %}
<table class="center mb-8 mw-80">
    <caption>Summary</caption>
    <tr>
        <th>Player</th>
        <th>#</th>
        <th>Min</th>
        <th>Avg</th>
        <th>Max</th>
    </tr>
    {% for player in players %}
    <tr>
        <td><a href="{% url 'league:player' player.score__player__id %}">{{ player.score__player__handle }}</a></td>
        <td>{{ player.count }}</td>
        <td>{{ player.min_score }}</td>
        <td>{{ player.avg_score }}</td>
        <td>{{ player.max_score }}</td>
    </tr>
    {% endfor %}
</table>
<table class="center mb-8 mw-80">
    <caption>Games | Table • <a href="{% url 'league:chart' league.id %}">Chart</a></caption>
    <tr>
        <th>Game No</th>
        <th>Date</th>
        <th>Winner</th>
        <th>Score</th>
    </tr>
    {% for game in games %}
    <tr>
        <td><a href="{% url 'league:game' game.id %}">{{game.game_no}}</a></td>
        <td>{{game.game_date}}</td>
        <td>{{game.winner.player.handle}}</td>
        <td>{{game.winner.score}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
