{% extends "base.html" %}

{% block title %}
Pugberus | {{ player.handle }}
{% endblock %}

{% block content %}
<table class="center mb-8 mw-80">
    <caption>{{ player.handle }} - Summary</caption>
    <tr>
        <th width="60%">League</th>
        <th width="10%">#</th>
        <th width="10%">Min</th>
        <th width="10%">Avg</th>
        <th width="10%">Max</th>
    </tr>
    {% for league in leagues %}
    <tr>
        <td><a href="{% url 'league:league' league.game__league__id %}">{{ league.game__league__name }}</a></td>
        <td>{{ league.count }}</td>
        <td>{{ league.min_score }}</td>
        <td>{{ league.avg_score }}</td>
        <td>{{ league.max_score }}</td>
    </tr>
    {% endfor %}
</table>
<table  class="center mb-8 mw-80">
    <caption>Games</caption>
    <tr>
        <th width="60%"></th>
        <th width="30%">Date</th>
        <th width="10%">Score</th>
    </tr>
    {% for score in scores %}
    <tr>
        <td>{{score.game.league.name}} #<a href="{% url 'league:game' score.game.id %}">{{ score.game.game_no }}</a></td>
        <td>{{score.game.game_date}}</td>
        <td>{{ score.score }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'league:index' %}">Back to main</a>
{% endblock %}
